<div class="container">
  <h1>Редактиране на станция №{{station.id}}</h1>

  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="stationName">Име</label>
      <input type="text" class="form-control" id="stationName" name="stationName"
             required
             [ngModel]="name">
    </div>
    <div class="form-group">
      <label for="stationBikesCount">Брой велосипеди</label>
      <input type="text" class="form-control" id="stationBikesCount" name="stationBikesCount"
             required
             [ngModel]="bikesCount">
    </div>
    <div class="form-group">
      <label for="stationCoordinates">Координати</label>
      <input type="text" class="form-control" id="stationCoordinates" name="stationCoordinates"
             required
             [ngModel]="coordinates">
    </div>

    <button type="submit" class="btn btn-success">Обнови</button>
  </form>

  <google-map height="500px"
              width="100%"
              [zoom]="zoom"
              [center]="center"
              [options]="options"
              (mapClick)="addMarker($event)">
    <map-marker *ngIf="marker"
                [position]="marker.position"
                [options]="marker.options">
    </map-marker>
  </google-map>

</div>
