<h1>Пътувания</h1>

<p *ngIf="!trips"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="trips">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Начало</th>
      <th>Край</th>
      <th>Потребител</th>
      <th>Велосипед</th>
      <th>Време (минути)</th>
      <th>Сума</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trip of trips">
      <td>{{ trip.id }}</td>
      <td>{{ trip.start }}</td>
      <td>{{ trip.end }}</td>
      <td>{{ trip.user }}</td>
      <td>{{ trip.bikeId }}</td>
      <td>{{ trip.totalMinutes }}</td>
      <td>{{ trip.totalAmount | currencyBGN }}</td>
    </tr>
  </tbody>
</table>
