<h1>Велостанции</h1>

<p *ngIf="!stations"><em>Loading...</em></p>

<button routerLink="/stations/new">Добави станция</button>

<table class='table table-striped' *ngIf="stations">
  <thead>
    <tr>
      <th>Име</th>
      <th>Налични велосипеди</th>
      <th>Свободни места</th>
      <th>Координати</th>
      <th>Последно актуализирано</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let station of stations">
      <td>{{ station.name }}</td>
      <td>{{ station.parkedBikesCount }} / {{ station.capacity }}</td>
      <td>{{ station.availableBikes }}</td>
      <td>{{ station.latitude }}, {{ station.longitude }}</td>
      <td>{{ station.updatedAt }}</td>
      <td>
        <a href="#">Редатирай</a>
        <span> | </span>
        <button (click)="deleteStation(station.id)">Изтрий</button>
      </td>
    </tr>
  </tbody>
</table>
