<h1>Текущо наемане</h1>
<p><strong>Номер:</strong>  {{ trip!.id }}</p>
<p><strong>Начало:</strong>  {{ trip!.start }}</p>
<p><strong>Велосипед:</strong>  {{ trip!.bikeId }}</p>
<p><strong>Изминало време (минути):</strong>  {{ trip!.totalMinutes }}</p>
<p><strong>Текуща сума:</strong>  {{ trip!.totalAmount | currencyBGN }}</p>



<p>Въведете в полето номера изписан на станцията или сканирайте QR кода</p>

<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="col-md-6">
    <label for="stationCode">Код на велостанция</label>
    <input type="text" class="form-control" id="stationCode" name="stationCode"
           required
           [ngModel]="bikeQRCodeId">
  </div>
  <div class="col-md-6">
    <button type="submit" class="btn btn-success">Върни велосипед</button>
  </div>

    <zxing-scanner #scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>

</form>
