h1 {
  font-family: 'Nunito', sans-serif;
  color: black;
  text-align: center;
  padding: 2em 0 0;
  opacity: 1;
}

svg {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%
}
