<div class="container">
  <h1>Наемане на велосипед</h1>

  <p>Въведете в полето номера изписан на рамката на велосипеда или сканирайте QR кода до него</p>

  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="col-md-6">
      <label for="bikeCode">Код на велосипед</label>
      <input type="text" class="form-control" id="bikeCode" name="bikeCode"
             required
             [ngModel]="bikeQRCodeId">

    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-success">Наеми</button>
    </div>

    <zxing-scanner #scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>

  </form>
</div>
